// @import "datatable"
@import "_colors";
@import "_tableicons";

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';

.fs-search-box {
    margin: 10px 0 15px 0;
    display: flex;
    flex-direction: column;

    i {
        font-size: 14px;
        color: rgba($black, 0.87);
    }

    label {
        font-size: 14px;
        padding-top: 5px;
    }
}

.full-width {
    width: 100%;
}

// Pagination
.page-count {
    display: none;
}

// TODO: set default width and/or different styles based on screen width
// @media screen and (max-width: 800px) {
//     .desktop-hidden {
//         display: initial;
//     }
//     .mobile-hidden {
//         display: none;
//     }
// }
// @media screen and (min-width: 800px) {
//     .desktop-hidden {
//         display: none;
//     }
//     .mobile-hidden {
//         display: initial;
//     }
// }
