// @import "datatable";
@import "_tableicons";

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';

.header {
    margin-bottom: 1em;
}

// Pagination
.page-count {
    display: none;
}

.form-control::placeholder {
    font-size: 0.8rem;
}

// TODO: set default width and/or different styles based on screen width
// @media screen and (max-width: 800px) {
//     .desktop-hidden {
//         display: initial;
//     }
//     .mobile-hidden {
//         display: none;
//     }
// }
// @media screen and (min-width: 800px) {
//     .desktop-hidden {
//         display: none;
//     }
//     .mobile-hidden {
//         display: initial;
//     }
// }
