@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@font-face {
    font-family: 'Aniron';
    src: url('/assets/fonts/aniron.woff') format('woff'),
        url('/assets/fonts/aniron.tff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@mixin font-heading {
    font-family: 'Aniron', sans-serif !important;
}

@mixin font-body {
    font-family: 'Libre Baskerville', serif !important;
}
