/* Ngx-Datatable Styles */
@import "_colors";

$border-width: 1px;

// :host /deep/ {

// Basic Bootstrap table
.ngx-datatable {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;

    .datatable-header, .datatable-body-row, .empty-row, .datatable-footer {
        border-top: $border-width solid $border-color;
    }

    .datatable-header-cell, .datatable-body-cell, .empty-row {
        padding: .75rem;
        vertical-align: top;
    }

    .datatable-header {
        font-weight: bold;
        color: $grey;
        background-color: $grey-lightest;
        border-color: $border-color;

        .datatable-header-cell {
            vertical-align: bottom;
            border-bottom: (2 * $border-width) solid $border-color !important;
        }
    }

    .datatable-body .datatable-scroll {
        display: inline;
    }

    .datatable-body + .datatable-body {
        border-top: (2 * $border-width) solid $border-color;
    }

    .ngx-datatable {
        background-color: $white;
    }
}

.datatable-pager {
    margin-right: 30px;

    li {
        a {
            position: relative;
            display: block;
            padding: .5rem .75rem;
            margin-left: -$border-width;
            line-height: 1.25;
            background-color: $white;
            border: $border-width solid $border-color;

            &:hover {
                text-decoration: none;
            }
        }

        &:first-child a {
            margin-left: 0;
            border-bottom-left-radius: .25rem;
            border-top-left-radius: .25rem;
        }
        &:last-child a {
            border-bottom-right-radius: .25rem;
            border-top-right-radius: .25rem;
        }

        &.active a {
            z-index: 1;
            color: $white;
            background-color: $table-header-color;
            border-color: $table-header-color;
        }

        &.disabled a {
            color: $grey-lighter;
            pointer-events: none;
            cursor: auto;
            background-color: $white;
        }

        &:not(.active) a:hover {
            background-color: rgba($black, .075);
        }
    }
}

// }
