.lc-container {
    max-width: 900px;
    margin: 10px;
}

.lc-card {
    max-width: 550px;
    margin: 10px 5px;
}

.header-text {
    margin-top: 0;
    margin-bottom: 0.8em;
}

table th {
    padding-right: 10px;
}
