<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <markdown [src]="'../../../assets/advancement-points.md'" class="card-body"></markdown>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <markdown [src]="'../../../assets/experience-points.md'" class="card-body"></markdown>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <markdown [src]="'../../../assets/standing.md'" class="card-body"></markdown>
            </div>
        </div>
    </div>
</div>
