<div class="lc-container">
    <mat-tab-group>
        <mat-tab label="Advancement">
            <div class="lc-card">
                <mat-card class="card mat-elevation-z2">
                    <mat-card-header>
                        <h4 class="header-text">Advancement Points Costs</h4>
                    </mat-card-header>
                    <mat-card-content>
                        <markdown [src]="'../../../assets/advancement-points.md'" class="card-body"></markdown>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Experience">
            <div class="lc-card">
                <mat-card class="card mat-elevation-z2">
                    <mat-card-header>
                        <h4 class="header-text">Experience Points Costs</h4>
                    </mat-card-header>
                    <mat-card-content>
                        <markdown [src]="'../../../assets/experience-points.md'" class="card-body"></markdown>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Standing">
            <div class="lc-card">
                <mat-card class="card mat-elevation-z2">
                    <mat-card-header>
                        <h4 class="header-text">Raise Standing</h4>
                    </mat-card-header>
                    <mat-card-content>
                        <markdown [src]="'../../../assets/standing.md'" class="card-body"></markdown>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
