@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

@import "_fonts";

body {
    font-family: 'Libre Baskerville', serif;
    background-color: #f3f3f3;
}

h2, h4 {
    font-family: 'Aniron', sans-serif;
}
