// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@fortawesome/fontawesome-pro/css/all.css";

@import "_fonts";

body {
    font-family: 'Libre Baskerville', serif;
    background-color: #fafafa;
}

h2, h4 {
    font-family: 'Aniron', sans-serif;
}
